In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
HUNT_PRICE = pd.read_csv('HUNT/price.csv')
HUNT_TVL = pd.read_csv('HUNT/TVL.csv')

In [3]:
TOKEN_NAME = 'HUNT'
PRICE = HUNT_PRICE.sort_values(by='block_timestamp', ascending=True).iloc[0, 1]
TVL = HUNT_TVL.sort_values(by='block_timestamp', ascending=False).iloc[0, 1]
AGE = (datetime.now() - datetime.strptime(HUNT_PRICE.sort_values(by='block_timestamp', ascending=True).iloc[0, 0], '%Y-%m-%d %H:%M:%S')).days
VOLATILITY = np.std(HUNT_PRICE.sort_values(by='block_timestamp', ascending=True).iloc[:, 1])
MARKETCAP = PRICE * TVL
CURRENT_SUPPLY = TVL / PRICE

In [4]:
HUNT_HEADER = pd.DataFrame(columns=['Token', 'Price', 'TVL', 'Age', 'Volatility', 'Market Cap', 'Current Supply'])
HUNT_HEADER.loc[0] = [TOKEN_NAME, PRICE, TVL, AGE, VOLATILITY, MARKETCAP, CURRENT_SUPPLY]

## RESULT OF NOTEBOOK

In [5]:
HUNT_HEADER

  Token     Price           TVL  Age  Volatility    Market Cap  Current Supply
0  HUNT  0.908356  3.381773e+06  371    0.110343  3.071853e+06    3.722962e+06

In [10]:
HUNT_PRICE['rolling_volatility'] = HUNT_PRICE['huntprice'].rolling(window=30).std()

In [11]:
HUNT_PRICE

          block_timestamp  huntprice  rolling_volatility
0     2022-04-08 05:04:48   0.908356                 NaN
1     2022-04-08 05:04:48   0.908356                 NaN
2     2022-04-08 05:12:15   0.908356                 NaN
3     2022-04-08 09:53:01   0.935226                 NaN
4     2022-04-08 09:56:40   0.943249                 NaN
...                   ...        ...                 ...
6371  2023-02-04 15:21:11   0.361388            0.004590
6372  2023-02-04 15:51:23   0.362334            0.004320
6373  2023-02-04 18:36:23   0.363351            0.004319
6374  2023-02-04 23:49:11   0.361194            0.004122
6375  2023-02-04 23:52:11   0.357945            0.004020

[6376 rows x 3 columns]